<!DOCTYPE html>
<html lang="en">
<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8613898238365793"
     crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Alg0r1thm</title>
</head>
<body>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">  
  <div class="centered-text">
    <h1>Alg0r1thm.onrender.app</h1>
    <h>____________________</h>
    <br>
    <a href="http://algh0r1thm.onrender.com" >Home</a> &nbsp &nbsp &nbsp <a href="http://algh0r1thm.onrender.com/rickrollsite" >Rickroll</a>
    <br>
    <br>
    <br>
    <h4>Copy link for rickroll link:</h2> <a href="http://algh0r1thm.onrender.com/rickroll">http://alg0r1thm.onrender.com/rickroll</a>
  </div>
</body>
</html>